<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="PWCConnectionString" connectionString="Data Source=(local);Initial Catalog=PWCForecast;Integrated Security=SSPI;"
    providerName="System.Data.SqlClient" />
    <add name="PWCOracleConnectionString" connectionString="Data Source=PRD;User ID=PWCAPPSUSR;Password=pleasechange08;"
    providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="BusinessObjectMappersFile" value="D:\PWC\PWCForecast\PWC.Forecast\BusinessObjectMappers.xml"/>
    <add key="ExceptionLogConnectionKey" value="PWCConnectionString"/>
    <!-- add key="ActualSalesCollectionSql" value="SELECT company_code, customer_number, SUBSTR(item, 1, 11) item_number, TO_DATE(CAST(booking_month AS VARCHAR2(2)) || '/01/' || CAST(booking_year AS VARCHAR2(2)), 'MM/DD/YY') month, SUM(monthly_sales) quantity FROM APPS.XXPWC_MONTHLY_SHIPMENTS_V WHERE company_code = :company_code AND customer_number = :customer_number AND (TO_DATE(CAST(booking_month AS VARCHAR2(2)) || '/01/' || CAST(booking_year AS VARCHAR2(2)), 'MM/DD/YY') BETWEEN TO_DATE(:begin_date, 'MM/DD/YY') AND TO_DATE(:end_date, 'MM/DD/YY')) GROUP BY company_code, customer_number, SUBSTR(item, 1, 11), TO_DATE(CAST(booking_month AS VARCHAR2(2)) || '/01/' || CAST(booking_year AS VARCHAR2(2)), 'MM/DD/YY')" />
		<add key="ActualSalesCollectionSql" value="select * from ActualSales where company_code = @company_code and customer_number = @customer_number and month between @begin_date and @end_date order by month desc"/ -->
    <add key="ForecastEditedFilePath" value="C:\temp\forecast.txt"/>
    <add key="POSFlatOracleFilePath" value="D:\PWC\Import Data\new\posdt.txt"/>
    <add key="POSFlatACNeilsenFilePath" value="D:\PWC\Import Data\new\posdt.txt"/>
    <add key="POSXLSACNeilsenFilePath" value="D:\PWC\Import Data\new\posdt.xls"/>
    <add key="POSXLSToCSVACNeilsenFilePath" value="D:\PWC\Import Data\new\posdt.xls"/>
    <add key="ActualSalesFlatFilePath" value="D:\PWC\Import Data\new\actualsales.txt"/>
    <add key="TrendByCompanyProductGroupFlatFilePath" value="D:\PWC\Import Data\new\TrendByCompanyProductGroup.txt"/>
    <add key="TrendByCompanyItemFlatFilePath" value="D:\PWC\Import Data\new\TrendByCompanyItem.txt"/>
    <add key="TrendByCustomerProductGroupFlatFilePath" value="D:\PWC\Import Data\new\TrendByCustomerProductGroup.txt"/>
    <add key="TrendByCustomerItemFlatFilePath" value="D:\PWC\Import Data\new\TrendByCustomerItem.txt"/>
    <add key="DTExecPath" value="D:\Program Files\Microsoft SQL Server\100\DTS\Binn\DTExec.exe"/>
    <add key="POSFlatFileOracleDTSPackagePath" value="D:\PWC\Import Data\Dtsx\POS Data Import Package.dtsx"/>
    <add key="POSFlatFileACNeilsenDTSPackagePath" value="D:\PWC\Import Data\Dtsx\POS Data Import Flat AC Neilsen Package.dtsx"/>
    <add key="POSXlsFileACNeilsenDTSPackagePath" value="D:\PWC\Import Data\Dtsx\POS Data Import XLS Package.dtsx"/>
    <add key="POSXlsToCsvFileACNeilsenDTSPackagePath" value="D:\PWC\Import Data\Dtsx\POS Data Import XLS to CSV Package.dtsx"/>
    <add key="ActualSalesFlatDTSPackagePath" value="D:\PWC\Import Data\Dtsx\Actual Sales Data Import Package.dtsx"/>
    <add key="TrendByCompanyProductGroupFlatDTSPackagePath" value="D:\PWC\Import Data\Dtsx\Trend by Company Product Group Flat Data Import Package.dtsx"/>
    <add key="TrendByCompanyItemFlatDTSPackagePath" value="D:\PWC\Import Data\Dtsx\Trend by Company Item Flat Data Import Package.dtsx"/>
    <add key="TrendByCustomerProductGroupFlatDTSPackagePath" value="D:\PWC\Import Data\Dtsx\Trend by Customer Product Group Flat Data Import Package.dtsx"/>
    <add key="TrendByCustomerItemFlatDTSPackagePath" value="D:\PWC\Import Data\Dtsx\Trend by Customer Item Flat Data Import Package.dtsx"/>
    <add key="DTSErrorFilePath" value="D:\PWC\Import Data\Dtsx\DTSError.txt"/>
    <add key="ExportSalesRateFilePath" value="D:\PWC\Export Data\SalesRate.csv"/>
    <add key="ExportForecastFilePath" value="D:\PWC\Export Data\Forecast.csv"/>
    <add key="ReportForecastFilePath" value="D:\PWC\Export Data\ForecastVariance.csv"/>
    <add key="ExportBonusFilePath" value="D:\PWC\Export Data\BonusItem.csv"/>
    <add key="ExportDiscontinuedFilePath" value="D:\PWC\Export Data\DiscontinuedItem.csv"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>